name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.25.4'

      - name: Lint
        uses: golangci/golangci-lint-action@v7
        with:
          version: v2.7.2

      - name: Build
        run: go build -v ./...
